<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BB465_stuff.Terminal"
    android:versionCode="3"
    android:versionName="2.1">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Shizuku. ByteZuku and other forks key off the original namespace,
         so that is the one that must be present for the app to appear in the
         manager's list. Official Shizuku v11+ also accepts the rikka name. -->
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
    <uses-permission android:name="rikka.shizuku.permission.API_V23" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:hardwareAccelerated="true">

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="com.BB465_stuff.Terminal.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <service
            android:name=".ShellService"
            android:exported="true" />

        <activity
            android:name=".TerminalActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
